.nav {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0 5px 20px -10px #000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
}
.navbar {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  min-height: 40px;
  padding: 10px 100px 10px 100px;
  margin-left: 30px;
  text-decoration: none;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #471ca9;
  text-shadow: 2px 2px 4px rgba(71, 28, 169, 0.5);
  position: relative;
  transition: color 0.3s, border-bottom 0.3s;
}
.navbar > a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #5721d4;
  visibility: hidden;
  transform: scaleX(0);
  transition: visibility 0s, transform 0.3s ease-in-out;
}
.navbar > a:hover:before,
.navbar > a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.active {
  scale: 1.1;
  color: #7441e1;
}
