.nav {
  background-color: #fff;
  box-shadow: 0 5px 20px -10px #000;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
}
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding: 10px 15px 10px 50px;
}
