.wrapper {
  position: relative;
  margin-top: 80px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  height: 100%;
  justify-content: center;
  gap: 40px;
  padding: 0;
}
.card {
  position: relative;
  width: 380px;
  height: 460px;
  border-radius: 20px;
  background: linear-gradient(142deg, #471ca9 0%, #5736a3 69.1%, #4b2a99 100%);
  box-shadow: -2.5776965618133545px 6.873857021331787px 20.621572494506836px 0px
    rgba(0, 0, 0, 0.23);
  color: #ebd8ff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.card_bg {
  width: 308px;
  height: 168px;
  background: url(../../img/picture.png);
  background-repeat: no-repeat;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}
.line {
  width: 380px;
  height: 8px;
  background: #ebd8ff;
  box-shadow: 0px 3.4369285106658936px 2.5776965618133545px 0px #fbf8ff inset,
    0px 3.4369285106658936px 3.4369285106658936px 0px rgba(0, 0, 0, 0.06),
    0px -1.7184642553329468px 3.4369285106658936px 0px #ae7be3 inset;
  margin-top: 18px;
}
.img_wrapper {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: 0px 4.391;
  top: 176px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  background: #ebd8ff;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.195px 4.39163px #9762cf, inset 0px 4.39163px 3.29372px #fbf8ff,
    0px 0px 8px rgba(0, 0, 0, 0.3);
}
.tweets_count {
  margin-top: 62px;
  margin-bottom: -2px;
}
.avatar {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border-color: #ebd8ff;
  object-fit: cover;
  margin-top: 9px;
  margin-left: 9px;
  box-shadow: 0px -4px 10px 0px rgba(151, 98, 207, 0.9);
}
.btn_follow {
  width: 196px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: inherit;
  background-color: #ebd8ff;
  color: #373737;
  box-shadow: 0px 3.4369285106658936px 3.4369285106658936px 0px
    rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 6px;
  transition: background-color 0.3s, transform 0.3s;
}

.btn_follow:hover,
.btn_follow:focus,
.btn_follow:focus-visible {
  transform: scale(0.99) translateY(2px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(2px);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.45);
}
.logo_svg {
  width: 76px;
  height: 22px;
  text-align: left;
  margin-left: -260px;
  margin-top: 20px;
}
.logo_svg:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.75);
}
