:root {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  line-height: normal;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  background-color: #f0f0f0;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

li {
  list-style: none;
}
img {
  display: block;
}
